---
title: Home
nav_text: Home
nav_priority: 0
icon: |
  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
    <path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/>
  </svg>
---

<div class="glass-card">
  <div class="card-header">
    <div>
      <h2 class="card-title"> Hi. I'm Aaron.</h1>
      <p class="card-subtitle">I'm a software developer.</p>
    </div>
  </div>

  <%= lorem.paragraphs 3 %>
</div>
